<h1>Welcome to the museum finder!</h1>
<div data-controller="query">
  <p>Latitude:</p>
  <input data-query-target="lat" type="string">
  <p>Longitude:</p>
  <input data-query-target="lon" type="string">
  <button data-action="click->query#submit">
    Submit
  </button>
  <ul data-query-target="output">
  </ul>
</div>
